# Application
APP_ENV=development

# Django
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True

# Application database
DATABASE_URL=postgresql://askmydata:change_me@localhost:5432/askmydata

# External PostgreSQL test source
TEST_SOURCE_DB_HOST=localhost
TEST_SOURCE_DB_PORT=5432
TEST_SOURCE_DB_NAME=askmydata_test_source
TEST_SOURCE_DB_USER=askmydata_readonly
TEST_SOURCE_DB_PASSWORD=change_me

TEST_WRITABLE_DB_USER=askmydata_writable_test
TEST_WRITABLE_DB_PASSWORD=change_me

TEST_NOSELECT_DB_USER=askmydata_noselect_test
TEST_NOSELECT_DB_PASSWORD=change_me

# LLM
OPENAI_API_KEY=change_me
LLM_MODEL=gpt-5-mini

# Data Sources
DATASOURCE_ENCRYPTION_KEY=change_me